* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar h4 {
    margin: 0.5rem;
    font-weight: 200;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000;
    color: #ffffff;
    margin-bottom: 2rem;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-bar-icon {
    margin-bottom: -0.2rem;
    margin-left: 0.2rem;
}

.nav-links a {
    color: #ffffff;
    margin-right: 0.8rem;
    text-decoration: none;
    font-size: small;
}

.nav-link-home a {
    color: #ffffff;
    font-weight: bold;
    margin-right: 0.5rem;
    text-decoration: none;
    font-size: medium;
}

    .nav-link-home a:hover {
        color: #FCA311;
        transition: 0.3s ease-in-out;
    }

.nav-links a:hover {
    color: #FCA311;
    transition: 0.3s ease-in-out;
}

.nav-link-active a {
    color: #FCA311;
}

.footer {
    background-color: #000;
    color: #ffffff;
    padding: 0.5rem;
    text-align: center;
    font-size: small;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.dashboard {
    display: flex;
    justify-content: center;
    padding: -1rem;
}

.airports {
    display: flex;
    justify-content: left;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    max-height: 56vh;
    max-width: 70vw;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-description {
    border: solid #FCA311;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    margin: 0rem 3rem;
    padding: 3.2rem;
}

    .card-description p {
        font-size: 2rem;
        font-weight: 520;
    }

.block-button {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    background-color: #E5E5E5;
    border-radius: 0.5rem;
    padding: 0.5rem 3rem;
    margin: 1rem 3rem;
}

    .block-button:hover {
        background-color: #FCA311;
        transition: 0.3s ease-in-out;
    }

.image {
    width: 100px;
    height: 100px;
    margin: 2rem;
}
