* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar-airlines {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000;
    color: #ffffff;
    padding: 0.5rem;
    align-items: center;
}

.container-airlines {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    margin-top: 4rem;
}

.container-head {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 3px solid #f2f2f2;
    margin-bottom: 2rem;
    max-width: 100%;
    width: 41.5rem;
}

.container-head > a {
    left: 0;
}

.container-title {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-right: 140px;
}

.block-button-airlines {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    width: 20%;
    background-color: #FCA311;
    border-radius: 0.5rem;
    padding: 0.5rem 3rem;
    margin: 2rem auto;
    text-align: center;
    border: 0;
}

.block-button-airlines:hover {
    background-color: #000;
    transition: 0.3s ease-in-out;
}

.table {
    margin: 0 auto;
    max-width: 50vw;
    width: 44%;
    max-height: 18.75rem;
    overflow-y: scroll;
}

/* Style the table header (<th>) */
th {
    background-color: #ddd;
    padding: 5px 10px;
    text-align: center;
    position: sticky;
    top: 0;
}

/* Style the table data (<td>) */
td {
    padding: 5px 10px;
    height: 50px;
    width: 90px;
    text-align: center;
}

td, th, tr, table {
    border-collapse: collapse;
    border: 1px solid black;
}

table {
    margin: auto;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-bottom: 10rem;
    padding: 1rem;
    border: solid #f2f2f2;
    border-radius: 4%;
    max-width: 450px;
    width: 187%;
    position: relative;
}

.form input {
    height: 35px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.form legend {
    position: relative;
    top: -1.6rem;
    font-size: 0.9rem;
    color: #000000;
    margin-bottom: -1rem;
    background-color: white;
    text-align: center;
    width: 110px;
}

.columns-flight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.columns-dep-arr {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.block-button-style {
    text-decoration: none;
    width: 100%;
    color: #FFFFFF;
    font-weight: bold;
    font-size: medium;
    background-color: #FCA311;
    border-radius: 0.5rem;
    padding: 0.7rem 3rem;
    margin: 2rem auto;
    margin-bottom: 5%;
    text-align: center;
    border: none;
}

.block-button-style:hover {
    color: #FFFFFF;
    background-color: #000;
    transition: 0.3s ease-in-out;
}

.data-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 50px;
}

.data-cell:hover {
    overflow: visible;
    white-space: inherit;
}

.text-danger {
    font-size: small;
    color: red;
    margin-bottom: 10px;
}

.success-message {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.error-message {
    text-align: center;
    color: #d8000c;
    background-color: #ffc2c2;
    border: 1px solid #d8000c;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-weight: bold;
}

.search-form {
    text-align: center;
    margin-bottom: 15px;
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
    width: 250px;
    border-radius: 0.5rem;
}

.search-button {
    padding: 8px 12px;
    background-color: #FCA311;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    width: 180px;
    border-radius: 0.5rem;
}

.search-button:hover {
    background-color: black;
    transition: 0.3s ease-in-out;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-out;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #FCA311;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader-container.appear {
    opacity: 1;
    pointer-events: auto;
    transition: none;
}

.hide-content {
    display: none;
}
