﻿@{
    ViewData["Title"] = "RISE-Airlines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dashboard">
    <h2>Welcome To Dashboard</h2>
</div>

<div class="container">
    <div class="card-container">
        <div class="card">
            <div class="card-description">
                <p>Airports</p>
                <img class="image" src="~/Pictures/mdi_airport.png" alt="airport-image" />
                <p>@ViewBag.AirportCount</p>
            </div>
            <a asp-controller="Airport" asp-action="Index" class="block-button">Add New Airport</a>
        </div>

        <div class="card">
            <div class="card-description">
                <p>Airlines</p>
                <img class="image" src="~/Pictures/ri_plane-fill.png" alt="airline-image" />
                <p>@ViewBag.AirlineCount</p>
            </div>
            <a asp-controller="Airline" asp-action="Index" class="block-button">Add New Airline</a>
        </div>

        <div class="card">
            <div class="card-description">
                <p>Flights</p>
                <img class="image" src="~/Pictures/carbon_flight-schedule.png" alt="flight-image" />
                <p>@ViewBag.FlightCount</p>
            </div>
            <a asp-controller="Flight" asp-action="Index" class="block-button">Add New Flight</a>
        </div>
    </div>
</div>
