﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="~/css/style.css">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="nav-bar">
        <h4 class="nav-link-home">
            <a asp-controller="Home" asp-action="Index">Rise Airlines</a>
            <span><img src="~/Pictures/icon.png" class="nav-bar-icon"></span>
        </h4>
        <div class="nav-links">
            <a asp-controller="Airport" asp-action="Index">Airports</a>
            <a asp-controller="Airline" asp-action="Index">Airlines</a>
            <a asp-controller="Flight" asp-action="Index">Flights</a>
        </div>
    </div>

    <main class="content">
        @RenderBody()
    </main>

    <div class="footer">
        <p>Rise Airlines 2024 ©</p>
    </div>
</body>
</html>
