﻿@if (TempData["SuccessMessage"] != null)
{
    <div class="success-message">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="error-message">
        @TempData["ErrorMessage"]
    </div>
}