﻿@model List<Airlines.Persistance.Models.Airline>
<partial name="_Notification" />

@{
    ViewData["Title"] = "Airlines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-airlines">
    <div class="container-title">
        <a asp-controller="Home" asp-action="Index">
            <img src="~/Pictures/left sidebar.png" />
        </a>
        <h1>Airlines</h1>
        <div></div>
    </div>

    <div class="container-head"></div>

    <div id="showSearchBar">
        <form action="@Url.Action("Search", "Airline")" method="get" class="search-form">
            <input type="text" name="searchTerm" placeholder="Search..." class="search-input" />
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>

    <div class="table">
        <table>
            <thead>
                <tr>
                    <th class="table-header">Name</th>
                    <th class="table-header">Founded</th>
                    <th class="table-header">Fleet size</th>
                    <th class="table-header">Description</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var airline in Model)
                {
                    <tr>
                        <td>@airline.Name</td>
                        <td>@airline.Founded</td>
                        <td>@airline.FleetSize</td>
                        <td class="data-cell">@airline.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <button id="showMore" class="block-button-airlines">Show More</button>
    <a href="#" id="toggleButton" class="block-button-airlines">Show Form</a>

    @using (Html.BeginForm("CreateNewAirline", "Airline", FormMethod.Post, new { @class = "form" }))
    {
        <legend>Add new Airline</legend>

        <label for="name">Name</label>
        <input type="text" id="name" name="Name" required />
        <div class="text-danger" id="nameError"></div>

        <label for="founded">Founded</label>
        <input type="date" id="founded" name="Founded" required />
        <div class="text-danger" id="foundedError"></div>

        <label for="fleet_size">Fleet size</label>
        <input type="number" id="fleet_size" name="FleetSize" required />
        <div class="text-danger" id="fleetSizeError"></div>

        <label for="description">Description</label>
        <input type="text" id="description" name="Description" required />
        <div class="text-danger" id="descriptionError"></div>

        <button type="submit" class="block-button-style" id="submitButton">Submit</button>

        <div id="errorMessages" class="text-danger"></div>
    }
    <div class="loader-container">
        <div class="loader"></div>
    </div>
</div>

<div class="footer">
    <p>Rise Airlines 2024 ©</p>
</div>

<script src="~/js/showContent.js"></script>
<script src="~/js/airlineValidation.js"></script>
<script src="~/js/animation.js"></script>