﻿@model List<Airlines.Persistance.Models.Flight>
<partial name="_Notification" />

@{
    ViewData["Title"] = "Flights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-airlines">
    <div class="container-title">
        <a asp-controller="Home" asp-action="Index">
            <img src="~/Pictures/left sidebar.png" alt="bar" />
        </a>
        <h1>Flights</h1>
        <div></div>
    </div>

    <div class="container-head"></div>

    <div id="showSearchBar">
        <form action="@Url.Action("Search", "Flight")" method="get" class="search-form">
            <input type="text" name="searchTerm" placeholder="Search..." class="search-input" />
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>

    <div class="table">
        <table>
            <thead>
                <tr>
                    <th class="table-header">Flight number</th>
                    <th class="table-header">Departure Airport Id</th>
                    <th class="table-header">Arrival Airport Id</th>
                    <th class="table-header">Departure date & time</th>
                    <th class="table-header">Arrival date & time</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var flight in Model)
                {
                    <tr>
                        <td>@flight.FlightNumber</td>
                        <td>@flight.DepartureAirportId</td>
                        <td>@flight.ArrivalAirportId</td>
                        <td>@flight.DepartureDateTime</td>
                        <td>@flight.ArrivalDateTime</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <button id="showMore" class="block-button-airlines">Show More</button>
    <a href="#" id="toggleButton" class="block-button-airlines">Show Form</a>

    @using (Html.BeginForm("AddFlight", "Flight", FormMethod.Post, new { @class = "form" }))
    {
        <legend>Add new Flight</legend>

        <label for="FlightNumber">Flight Number</label>
        <input type="text" id="flightNumber" name="FlightNumber" required />
        <div class="text-danger" id="flightNumberError"></div>

        <label for="DepartureAirportId">Departure Airport Id</label>
        <input type="number" id="departureAirportId" name="DepartureAirportId" required />
        <div class="text-danger" id="departureAirportIdError"></div>

        <label for="ArrivalAirportId">Arrival Airport Id</label>
        <input type="number" id="arrivalAirportId" name="ArrivalAirportId" required />
        <div class="text-danger" id="arrivalAirportIdError"></div>

        <div class="columns-flight">
            <div class="columns-dep-arr">
                <label for="DepartureDateTime">Departure Date Time</label>
                <input type="datetime-local" id="departureDateTime" name="DepartureDateTime" required />
                <div class="text-danger" id="departureDateTimeError"></div>
            </div>

            <div class="columns-dep-arr">
                <label for="ArrivalDateTime">Arrival Date Time</label>
                <input type="datetime-local" id="arrivalDateTime" name="ArrivalDateTime" required />
                <div class="text-danger" id="arrivalDateTimeError"></div>
            </div>
        </div>

        <button type="submit" class="block-button-style" id="submitButton">Submit</button>

        <div id="errorMessages" class="text-danger"></div>
    }
    <div class="loader-container">
        <div class="loader"></div>
    </div>
</div>

<div class="footer">
    <p>Rise Airlines 2024 ©</p>
</div>

<script src="~/js/showContent.js"></script>
<script src="~/js/flightValidation.js"></script>
<script src="~/js/animation.js"></script>