﻿@model List<Airlines.Persistance.Models.Airport>
<partial name="_Notification" />

@{
    ViewData["Title"] = "Airports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-airlines">
    <div class="container-title">
        <a asp-controller="Home" asp-action="Index">
            <img src="~/Pictures/left sidebar.png" alt="bar" />
        </a>
        <h1>Airports</h1>
        <div></div>
    </div>

    <div class="container-head"></div>

    <div id="showSearchBar">
        <form action="@Url.Action("Search", "Airport")" method="get" class="search-form">
            <input type="text" name="searchTerm" placeholder="Search..." class="search-input" />
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>

    <div class="table">
        <table>
            <thead>
                <tr>
                    <th class="table-header">Name</th>
                    <th class="table-header">Country</th>
                    <th class="table-header">City</th>
                    <th class="table-header">Code</th>
                    <th class="table-header">Runways</th>
                    <th class="table-header">Founded</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var airport in Model)
                {
                    <tr>
                        <td>@airport.Name</td>
                        <td>@airport.Country</td>
                        <td>@airport.City</td>
                        <td>@airport.Code</td>
                        <td>@airport.RunwaysCount</td>
                        <td>@airport.Founded</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <button id="showMore" class="block-button-airlines">Show More</button>
    <a href="#" id="toggleButton" class="block-button-airlines">Show Form</a>

    @using (Html.BeginForm("CreateNewAirport", "Airport", FormMethod.Post, new { @class = "form" }))
    {
        <legend>Add new Airport</legend>

        <label for="name">Name</label>
        <input type="text" id="name" name="Name" required />
        <div class="text-danger" id="nameError"></div>

        <label for="country">Country</label>
        <input type="text" id="country" name="Country" required />
        <div class="text-danger" id="countryError"></div>

        <label for="city">City</label>
        <input type="text" id="city" name="City" required />
        <div class="text-danger" id="cityError"></div>

        <label for="code">Code</label>
        <input type="text" id="code" name="Code" required />
        <div class="text-danger" id="codeError"></div>

        <label for="runways_count">Runways Count</label>
        <input type="number" id="runways_count" name="RunwaysCount" required />
        <div class="text-danger" id="runwaysError"></div>

        <label for="founded">Founded</label>
        <input type="date" id="founded" name="Founded" required />
        <div class="text-danger" id="foundedError"></div>

        <button type="submit" class="block-button-style" id="submitButton">Submit</button>

        <div id="errorMessages" class="text-danger"></div>
    }
    <div class="loader-container">
        <div class="loader"></div>
    </div>
</div>

<div class="footer">
    <p>Rise Airlines 2024 ©</p>
</div>

<script src="~/js/showContent.js"></script>
<script src="~/js/airportValidation.js"></script>
<script src="~/js/animation.js"></script>